*{
  padding:0px;
  margin:0px; 
}
.App {
  text-align: center;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
.list-wrapper{
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  overflow:hidden;
  margin:20px 0px;
}
.list-title{
  width:100%;
  padding:10px 20px;
  background-color: rgb(36, 36, 36);
  color:red;
}
.list{
  padding:20px 45px;
  background-color: rgb(14, 14, 14) ;
}
.list-item{
  cursor: pointer;
  padding:5px 0px;
  border-bottom:1px solid grey;
  transition:all 500ms ease-in-out
}
.list-item:hover{
  background-color: rgb(39, 39, 39) ;
  border-bottom:1px solid red;

}